@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

.header-bg {
    background-color: #1C0E2A;
    margin-top: -110px;
    width: 100%;
    min-height: 670px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../public/bg-header2.jpg');
    background-size: cover;
}

.header-overlay {
    position: absolute;
    top: 230px;
    width: 100%;
}

.header-polygon {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header-text-animate
{
  background-image: linear-gradient(
    -225deg,
    #E53AB4 0%,
    #6DB1FA 29%,
    #6847C7 67%,
    #ff00d4 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-weight: 700;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.carousel-inner {
  max-height: 580px;
}

@media (max-width: 1200px) {
  .carousel-inner {
    max-height: 560px;
  }
}

@media (max-width: 950px) {
  .carousel-inner {
    max-height: 520px;
  }
}

@media (max-width: 900px) {
  .carousel-inner {
    max-height: 500px;
  }
}

@media (max-width: 900px) {
  .carousel-inner {
    max-height: 470px;
  }
}

@media (max-width: 800px) {
  .carousel-inner {
    max-height: 440px;
  }
}

@media (max-width: 750px) {
  .carousel-inner {
    max-height: 400px;
  }
}

@media (max-width: 650px) {
  .carousel-inner {
    max-height: 300px;
  }
}

@media (max-width: 520px) {
  .carousel-inner {
    max-height: 250px;
  }
}

@media (max-width: 420px) {
  .carousel-inner {
    display: none;
  }
}


.dark-top-curved-bg {
  margin-top: -80px;
  background-image: url('../public/we-make-better-companies/curve-top-bg.jpg');
}

.bg-blue {
  background-color: #000A53;
}

.bg-light-gray {
  background-color: #F4F9FC;
}

.bg-octagon {
  background-image: url('../public/we-make-better-companies/octagon.svg');
}

@media (min-width: 992px) {
  .h-lg-150px {
    height: 150px !important;
  }
}

.relevant-information-bg {
  position: absolute;
  right: 0;
  z-index: -1;
}

.olga {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-7.jpg')
}

.maximillian {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-6.jpg')
}

.felipe {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-4.jpg')
}

.joseph {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-8.jpg')
}

.bg-gradient-green {
  background: linear-gradient(90deg, #20AA3E 0%, #03A588 100%);
}

.dark-top-curved-bg {
  background-image: url('../public/bg-footer.png');
}

.border-dashed-light {
  border: #3e4a69 dashed 2px !important;
}
