@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css";

.header-bg {
    position: relative;
    margin-top: -110px;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
}

.front {
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  height: 100vh;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../public/bg-header.png');
}

.ontop {
  position: relative;
  z-index: 7;
}

.supowepowers-section {
  min-height: 600px;
}

.superpowers-img {
  max-width: 80%;
  right: 0;
  position: absolute;
}

.valign-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fz-45 {
  font-size: 45px !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.header-polygon {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header-text-animate
{
  background-image: linear-gradient(
    -225deg,
    #3aa6e5 0%,
    #6DB1FA 29%,
    #6847C7 67%,
    #25c6ee 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-weight: 700;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.carousel-inner {
  max-height: 580px;
}

@media (max-width: 1200px) {
  .carousel-inner {
    max-height: 560px;
  }
}

@media (max-width: 950px) {
  .carousel-inner {
    max-height: 520px;
  }
}

@media (max-width: 900px) {
  .carousel-inner {
    max-height: 500px;
  }
}

@media (max-width: 900px) {
  .carousel-inner {
    max-height: 470px;
  }
}

@media (max-width: 800px) {
  .carousel-inner {
    max-height: 440px;
  }
}

@media (max-width: 750px) {
  .carousel-inner {
    max-height: 400px;
  }
}

@media (max-width: 650px) {
  .carousel-inner {
    max-height: 300px;
  }
}

@media (max-width: 520px) {
  .carousel-inner {
    max-height: 250px;
  }
}

@media (max-width: 420px) {
  .carousel-inner {
    display: none;
  }
}


.dark-top-curved-bg {
  margin-top: -80px;
  background-image: url('../public/did-you-know/curve-top-bg.jpg');
}

.dark-bottom-curved-bg {
  margin-top: -60px;
  background-image: url('../public/did-you-know/curve-bottom-bg.jpg');
}

.bg-purple {
  background-color: #1C0E2A;
}

.bg-octagon {
  background-image: url('../public/did-you-know/octagon.svg');
}

@media (min-width: 992px) {
  .h-lg-150px {
    height: 150px !important;
  }
}

.relevant-information-bg {
  position: absolute;
  top: 50px;
  left: -50px !important;
  z-index: -1;
  width: 800px;
}

.olga {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-7.jpg')
}

.maximillian {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-6.jpg')
}

.felipe {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-4.jpg')
}

.joseph {
  background-image: url('https://preview.keenthemes.com/ceres-html-free/assets/media/avatars/150-8.jpg')
}

.bg-gradient-green {
  background: linear-gradient(90deg, #20AA3E 0%, #03A588 100%);
}

.dark-top-curved-bg {
  background-image: url('../public/bg-footer.jpg');
}

.border-dashed-light {
  border: #3e4a69 dashed 2px !important;
}

.header {
  border-bottom: 0!important;
}

.bg-light-secondary {
  background-color: #f4f4fc;
}

.bg-gradient-blue {
  background: linear-gradient(90deg, #000A55 10.26%, #55A9D8 89.65%);
}